#instructions{
    font-size: 50px;
    font-style: oblique;
}
p{
    margin: 0;
    padding: 0;
}
#side{
    margin-bottom: 30px;
    max-width: 50%;
    
}
.container{
    background-image: url(./pics/Parallelepiped.svg.png);
    background-repeat: no-repeat;
    margin: 0, auto;
    display:block;
    max-width: 640px;
    
}
#inputs{
    padding-bottom: 20px;
}
#calcbutton{
    float: right;
}
#calcbutton::after {
    content: "";
    clear: both;
    display: table;
}
#res{
    font-size: 30px;
}
